
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0A1F3A;
    color: #fff;
    width: 100%;
    margin-top: 80px;
}

.footerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--width-block);
}

.footerImgs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid #3E85AF;
}

.footerNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerLinks {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px 0;
}

.footerLink {
    color: #afafaf;
    /* color: #3E85AF; */
}

.footerImg {
  width: 150px;
}

.footerImg img {
  width: 100%;
}

@media (max-width: 768px) {
  .footerLinks {
    padding: 25px 10px;
    align-items: center;
  }
  .footerImgs {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
}