.categorySection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.categoryBlock {
  display: flex;
  flex-wrap: wrap;
  width: var(--width-block);
  gap: 34px;
  justify-content: space-between;
}
