.SectionMain {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 120px);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainBlock {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: var(--width-block);
}

.mainTitle {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 40px;
  color: #fff;
  width: 60%;
}

.mainText {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  color: #fff;
  width: 60%;
}

.mainslider {
  width: 100%;
  height: 100vh;
  position: relative; /* добавлено */
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* добавлено */
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%; /* Задать фиксированную ширину для каждого слайда */
}

@media (max-width: 768px) {
  .SectionMain {
    min-height: auto;
    height: auto;
  }

  .mainBlock {
    width: 100%;
    padding: 20px;
    gap: 10px;
  }

  .mainTitle {
    font-size: 20px;
    line-height: 26px;
  }

  .mainText {
    font-size: 14px;
    line-height: 26px;
  }

  .mainslider {
    height: 100%;
  }
}
