.SectionMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* width: var(--width-block); */
    min-height: calc(100vh - 120px);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: var(--width-block);
}

.mainText {
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 500;
    line-height: 97.52px;
    color: #fff;
}
