.productions_item {
    width: 31%;
    padding: 25px;
    background-color: var(--color-perlblue);
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 10px;
    overflow: hidden;
}

.infoText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

.productions_item__img {
    width: 100%;
    height: 366px;
    
    border-radius: 10px;
    overflow: hidden;
}

.productions_item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productions_item__title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    color: var(--color-white);
    text-transform: uppercase;
}

.productions_item__btn {
    width: 130px;
    height: 42px;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    padding: 12px 22px;
    background-color: var(--color-lightblue);
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.productions_item__btn:hover {
    background-color: #3a92c5;
}

@media (max-width: 768px) {
    .productions_item {
        width: 100%;
        padding: 20px;
    }
    .productions_item__img {
        height: 250px;
    }
}