header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0a1f3a;
  height: 80px;
  color: #fff;
  width: 100%;
  box-shadow: 0 -8px 20px 2px #2d607ea4;
}

.headerLink {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.headerLink.active,
.headerLink:hover {
  border-bottom: 2px solid #fff;
}

.headerSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: var(--width-block);
}

.headerSectionMobile {
  display: none;
}

.headerImg {
  width: 185px;
}

.headerImg img {
  width: 100%;
}

.linkTel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 35px;
  border: 1px solid #fff;
  border-radius: 30px;
}

.linkTel:hover{
  background-color: #fff;
  color:#0a1f3a;
  border-bottom: none;
  border: 1px solid #fff;
}

.dropdown {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dropdownContent {
  cursor: pointer;
  position: absolute;
  background-color: #3e85af;
  min-width: 160px;
  /* box-shadow: 0 0 8px 4px rgba(69, 69, 69, 0.2); */
  /* box-shadow: 0px 0px 8px 4px #3e85af; */
  z-index: 10;
  margin-top: 60px;
  border-top: 1px solid #3e85af;
  border-radius: 0 0 10px 10px;
}

.dropdownContent a {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  width: 100%;
}

.dropdownContent a:hover {
  background-color: #3a92c5;
}

.dropdownContent a:last-child {
  border-radius: 0 0 10px 10px;
}

.dropdown:hover .dropdownContent {
  /* display: block; */
}

.chevronIcon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

/*  */

/*  */


@media (max-width: 768px) {

  header {
    position: sticky;
    top: 0;
  }

  .headerSection {
    display: none;
  }

  .headerImg {
    width: 140px;
  }

  .headerSectionMobile {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    z-index: 1000;
  }

  .headerBlockMobile {
    display: flex;
    flex-direction: column;
    background-color: #3a92c5;
    border-radius: 10px;
  }

  .headerImg {
    /* margin-bottom: 20px; */
  }

  .headerLink,
  .linkTel {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  .dropdownContent {
    position: static;
    margin-top: 0;
    border-top: none;
    border-radius: 0;
  }

  .menuIcon {
    display: block;
    cursor: pointer;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .showMobileMenu {
    display: flex;
  }
}


.headerSectionMobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.headerBlockMobile {
  display: none;
  flex-direction: column;
  background-color: #3a92c5;
  border-radius: 10px;
  position: absolute;
  top: 80px; /* Высота заголовка */
  right: 20px;
  width: 200px;
}

.headerBlockMobile.show {
  display: flex !important;
}
.show {
  display: flex !important;
}

.menuIcon {
  display: block;
  cursor: pointer;
  width: 24px; /* Размер иконки */
  height: 24px; /* Размер иконки */
}

@media (max-width: 768px) {
  .headerSection {
    display: none;
  }

  .headerSectionMobile {
    display: flex;
  }
}
