.FeedbackForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
}

.FeedbackLabel {
  /* width: 380px; */
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  border: none;
  background-color: #0a1f3a;
  color: #fff;
}

.FeedbackLabelComment {
  /* width: 380px; */
  width: 100%;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: #0a1f3a;
  color: #fff;
}

.FeedbackButton {
  cursor: pointer;
  width: 160px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-lightblue);
  align-self: flex-start;
  color: #fff;
}

.FeedbackButton:hover {
  color: #fff;
  background-color: #3a92c5;
} 

.FeedbackCheckLabel {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.SuccessMessage {
  font-size: 14px;
  color: #4CAF50; 
  margin-bottom: 10px;
}

/*  */
