* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    --blockWidth: 1300px;
}

body {
    background-color: #eef0f4;
}

main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 80px;
}

.SectionMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 690px;
    height: 100%;
    background: url('/background_main.png');
}

.mainBlock {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 1176px;
}

