* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

:root {
  --blockWidth: 1300px;
  --width-block: 1300px;
  --color-white: #ffffff;
  --color-background: #0a1f3a;
  --color-perlblue: #112e4f;
  --color-lightblue: #3e85af;
}

body {
  background-color: var(--color-background);
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 80px;
}

table {
  width: 100%;
  margin: 20px 0;
}

table tbody tr {
  width: 100%;
}

table tbody tr:last-child {
}

.button_docs {
  width: 130px;
  height: 42px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  padding: 12px 22px;
  background-color: var(--color-lightblue);
  cursor: pointer;
}

.button_docs:hover {
  background-color: #399fda;
}

.breadcrumbs {
  line-height: 24px;
}

.breadcrumbs a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.breadcrumbs a:not(:last-child)::after {
  content: "/";
  margin: 0 8px;
}

.breadcrumbs span {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

table {
  background-color: transparent !important;
}

td {
  border: 1px solid white !important;
  padding: 5px !important;
}

.productText {
  color: #fff !important;
  font-size: 20px !important;
  line-height: 25px !important;
}

.productText * {
  color: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
}

.ProductPageRowBlock {
  width: var(--width-block);
  gap: 40px;
}

.ProductPageColumnBlock {
  width: 50%;
  height: 565px;
  padding: 40px;
  background-color: #112e4f;
  border-radius: 20px;
  gap: 40px;
  justify-content: space-between;
}

.ProductPageWidthBlock {
  height: 100%;
  padding: 40px;
  background-color: #112e4f;
  border-radius: 20px;
  gap: 40px;
}

.ProductPageText {
  color: #fff;
  font-size: 36px;
}

/*  */

.AboutPageRowBlock {
  height: 320px;
  padding: 65px 85px;
}

.AboutPageRowBlock2 {
  gap: 150px;
  align-items: flex-start;
}

.AboutPageText1 {
  width: 50%;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.AboutPageText2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

.AboutPageText3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.AboutPageWidthBlock {
  padding: 0 180px;
}

.AboutPageColumnBlock2 {
  gap: 25px;
  padding: 45px 0;
}

.AboutPageImg2 {
  width: 490px;
}

.ContactPageWidthBlock {
  flex-direction: row;
}

.ContactPageColumnBlock {
  width: 50%;
  gap: 35px;
}

.ContactPageMap {
  width: 50%;
  border-radius: 20px;
}

.DocumentPageCertificateBlock {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 45px;
  width: 100%;
}

.DocumentPageCertificate {
  width: 31%;
  height: 575px;
  background-color: #d9d9d9;
}

.DocumentPageDocuments {
  flex-direction: row;
  height: 96px;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #112e4f;
}

.DocumentPageCenterBlock {
  gap: 80px;
  margin: 40px 0;
}

.DocumentPageDocumentsCenterBlock {
  gap: 20px;
}

.MainPageColumnBlock {
  width: 100%;
  gap: 80px;
  align-items: center;
}

.AboutPageCenterBlock {
  gap: 80px;
  margin: 40px 0;
}

.ContactPageCenterBlock {
  gap: 80px;
  margin: 40px 0;
}

.ProductPageCenterBlock {
  gap: 40px;
  margin: 60px 0 20px 0;
}


.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}

.contactsMap{
    border-radius: 10px;
    overflow: hidden;
}


.swiper-pagination-bullet-active{
  background: #fff !important;
}

@media (max-width: 768px) {
}

@media (max-width: 1300px) {
  :root {
    --blockWidth: 1024px;
    --width-block: 1024px;
  }
}

@media (max-width: 768px) {
  :root {
    --blockWidth: 100%;
    --width-block: 100%;
  }

  h2 {
    padding: 0 20px;
    text-align: center;
  }

  /*  */

  .ProductPageCenterBlock {
    margin: 40px 0;
    padding: 0 20px;
    gap: 20px;
  }

  .ContactPageCenterBlock {
    gap: 20px;
    padding: 0 20px;
  }

  .MainPageRequest {
    padding: 0 20px;
  }

  .MainPageCertificate {
    align-items: center;
  }

  #wherebuy {
    padding: 0 20px;
  }

  .MainPageBenefit {
    padding: 0 20px;
  }

  .MainPageColumnBlock {
    gap: 40px;
  }

  .DocumentPageCenterBlock {
    gap: 40px;
    padding: 0 20px;
  }

  .DocumentPageDocumentsCenterBlock {
    padding: 0 20px;
  }

  .DocumentPageDocuments {
    height: auto;
    padding: 20px;
  }

  .DocumentPageCertificateBlock {
    flex-direction: column;
  }

  .DocumentPageCertificate {
    width: 100%;
    height: auto;
  }

  .ContactPageWidthBlock {
    flex-direction: column;
  }

  .ContactPageColumnBlock {
    width: 100%;
  }

  .ContactPageMap {
    width: 100%;
  }

  .ContactPageMap iframe {
    width: 100%;
  }

  .AboutPageCenterBlock {
    padding: 0 20px;
    gap: 40px;
  }

  .AboutPageRowBlock {
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .AboutPageWidthBlock {
    padding: 0;
  }

  .AboutPageColumnBlock2 {
    padding: 20px 0;
  }

  .AboutPageText1 {
    width: 100%;
    /* padding: 0 20px; */
  }

  .AboutPageText2 {
    font-size: 18px;
    line-height: 24px;
  }

  .AboutPageText3 {
    font-size: 14px;
    /* padding: 0 20px; */
  }

  .AboutPageImg2 {
    width: 100%;
  }

  .ProductPageRowBlock {
    gap: 20px;
  }

  .AboutPageRowBlock2 {
    gap: 20px;
  }

  .AboutPageRowBlockImg {
    flex-direction: row;
  }

  .ProductPageColumnBlock {
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .ProductPageWidthBlock {
    padding: 20px;
    gap: 20px;
  }

  .ProductPageText {
    font-size: 22px;
  }

  .ProductPageText2 {
    text-align: center;
    font-size: 26px;
  }

  .productText {
    font-size: 14px !important;
    text-align: justify;
    text-indent: 20px;
  }

  table {
    display: flex !important;
    width: 100%;
  }

  tbody {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    gap: 20px !important;
  }

  tr {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }

  td {
    display: flex !important;
    width: 100% !important;
  }

  td p {
    display: inline-block !important;
    width: 100% !important;
  }
  td p span {
    /* display: inline-block !important; */
    width: 100% !important;
  }
  td p span o:p {
    display: none !important;
  }
}
