* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

:root {
  --blockWidth: 1300px;
  --width-block: 1300px;
  --color-white: #ffffff;
  --color-background: #0a1f3a;
  --color-perlblue: #112e4f;
  --color-lightblue: #3e85af;
}

body {
  background-color: var(--color-background);
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 80px;
}

table {
  width: 100%;
  margin: 20px 0;
}

table tbody tr {
  width: 100%;
}

table tbody tr:last-child {
}

.button_docs {
  width: 130px;
  height: 42px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  padding: 12px 22px;
  background-color: var(--color-lightblue);
  cursor: pointer;
}

.button_docs:hover {
  background-color: #399fda;
}

.breadcrumbs {
  line-height: 24px;
}

.breadcrumbs a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.breadcrumbs a:not(:last-child)::after {
  content: "/";
  margin: 0 8px;
}

.breadcrumbs span {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

table {
  background-color: transparent !important;
}

td {
  border: 1px solid white !important;
  padding: 5px !important;
}

.productText {
  color: #fff !important;
  font-size: 20px !important;
  line-height: 25px !important;
}

.productText * {
  color: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
}
